body {
  margin: 0;
  font-family:Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins,sans-serif;
}

/* colors */

.bg-color{
  background-color: #0A2142 !important;
}
.nav-link-color{
  color: #EFDCB6 !important;
}
.price-color{
  color: #2C9BF4 !important;
}
.ol-color{
  color: #FF5959 !important;
}

/* button */
.btn-color{
  background-color: #2C9BF4 !important;
  border-radius: none !important;
  color: white !important;
  padding: 7px 22px;
  text-decoration: none;
  margin: 20rem 0px;
  cursor: pointer;
}

/* card */
.card{
  border: 0.5px solid rgba(201, 197, 197, 0.5) !important;
  box-shadow: 0.5px 1px 0.5px  rgba(97, 94, 94, 0.5) !important;
}
.card:hover{
  box-shadow: 0 0 3px rgba(99, 95, 95, 0.5) !important;
}
.card-body{
  padding: 0px !important;
}
.card-title{
  color: #424179  !important;
}
.card-text{
  color: #747272 !important;
}

.links ol a{
  text-decoration: none !important;
  color: #ffff;
}

.fs-nav{
  font-size: 12px !important;
  letter-spacing: 1px;
}

.nav-item:hover{
  background-color: #e2dede2a !important;
}
.home-training{
  color: #C1C1C1;
}
.home-training a{
  color: #606872;
  text-decoration: none !important;
}
.footer-text {
  min-width: 35% !important;
  max-width: 99% !important;
}
.header-text {
  min-width: 35% !important;
  max-width: 99% !important;
}


/* footer */
.my-list {
  list-style-type: square;
  /* font-size: 1.9em; */
}